.App {
  padding-bottom: 28px;  
}

.weather-app {
  margin-top: 28px;
  text-align: center;
  font-family: "Avant Garde", "Century Gothic", "AppleGothic", sans-serif;
  width: 400px;
  height: min-content;
  background: #fff;
  padding: 28px 32px;
  overflow: hidden;
  border-radius: 18px;    

  h1 {
    margin-bottom: 24px;
  }

  p {
    font-size: 22px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  img {
    width: 75%;
  }
}

.search-container {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    color: #06283d;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
  }

  input::placeholder {
    font-size: 20px;
    font-weight: 500;
    color: #06283d;
    text-transform: capitalize;
  }

  button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #06283d;
    background: #dff6ff;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
  }

  button:hover {
    color: #fff;
    background: #168ad3;
  }

  .loc_logo {
    width: 10%;
  }

  .search_logo {
    width: 75%;
  }
}

.weather-container {
  margin-top: 25px;   

  .temperature,
  .description {
    font-size: 18px;
    font-weight: 400;
  }

  p {
    font-size: 22px;
    font-weight: 600;
    margin-top: 24px;
  }

  .current-weather {
    display: flex;

    .weather-icon {
      display: flex;
      justify-content: flex-start;
      img {
        width: 80%;
        object-fit: cover;
      }
    }

    .weather-info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .clothing-icon {
        .cloth_logo {
          width: 75px;
          object-fit: cover;
        }
      }
    }
  }

  .forecast {
    .date {
      display: block;
      margin-bottom: 24px;
      margin-top: 24px;
      font-size: 18px;
      font-weight: 600;
    }

    .forecast-item {
      display: flex;

      .weather-icon {
        display: flex;
        justify-content: flex-start;
        img {
          width: 80%;
          object-fit: cover;
        }
      }

      .nextday-weather {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-right: 10px;

        .clothing-icon {
          .cloth_logo {
            width: 50px;
            object-fit: cover;
          }
        }
      }
    }
  }
}
